h1 {
    text-align: center;
}

#entrada {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 0 10px 0;
}

label {
    margin-left: 50px;
    margin-right: 5px;
    font-weight: 700;
}

input {
    border-radius: 50px;
    border-color: chocolate;
}

#botones {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px 0 10px 0;
}

#resultado {
    padding: 10px 0 10px 0;
    text-align: center;
    color: deepskyblue;
    border: 1px solid black;
    justify-content: center;
}


