h1 {
    color: aqua;
    text-align: center;
}

h3 {
    color: blueviolet;
    font-size: 1.5em;
}

#botones {
    text-align: center;
}

#resultado  {
    padding: 40px 0 0 0;
    text-align: center;
}